h1 {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 72px;
}

.home{
  width: 1200px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(248, 246, 234, 0.4);
}

.line{
  width: 1200px;
  height: 1px;
  border-bottom: 1px solid rgba(87, 87, 87, 0.34);
}

#first-line{
  margin-top: 50px;

}

#second-line{
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}
