body{
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", SegoeUI, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
    max-width: 1920px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

header{
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    background-color: #2c2c2c;
}

.logo{
    color: white;
    max-width: 150px;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 80px;
}

.todo-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 900px;
}

.list-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    max-width: 1000px;
    width: 100%;
    height: 100%;
    padding: 200px 20px 0;
}

.list-header{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
}

.list-header h1{
    font-weight: 600;
    font-size: 40px;
}

.list-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.adder{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
}

.adder-input-box{
    width: 620px;
    height: 50px;
    margin-right: 20px;
}



#input-box{
    width: 100%;
    height: 40px;
    padding: 10px 10px;
    margin: 5px 0;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid rgba(171, 171, 171, 0.8);
    font-size: 16px;
    color: #000000;
}

#input-box:focus{
    outline: none;
    border: 1px solid rgba(128, 128, 128, 0.8);
    box-shadow: 2px 2px 10px rgba(206, 206, 206, 0.8);

}

#input-box::placeholder{
    color: #afafaf;
}

#input-box:focus::placeholder{
    color: rgb(114, 114, 114);
}

.adder-button{
    width: 100px;
    height: 50px;
}

.adder-button button{
    width: 100%;
    height: 40px;
    margin: 5px 0;
    box-sizing: border-box;
    border-radius: 4px;
    border: none;
    background-color: #0085b9;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.adder-button button:hover{
    background-color: #0a769d;
}


.list-content{
    width: 100%;
    padding: 0;
    margin-top: 50px;
}

#list{
    padding: 0;
}

#list li{
    list-style: none;
    font-size: 18px;
    border: 1px solid rgba(140, 140, 140, 0.8);
    margin-bottom: 20px;
    padding: 15px 0 15px 50px;
    border-radius: 6px;
    color: #3b3b3b;
    cursor: pointer;
    position: relative;
}

#list li::before{
    content: "";
    background-image: url("unchecked-box.svg");
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    position: absolute;
    background-size: contain;
    background-position: center;
    top: 18px;
    left: 13px;
}

#list li.checked {
    color: #989898 !important;
    text-decoration: line-through;
}

#list li.checked::before{
    background-image: url("checked-box.svg");
}

#list li img{
    position: absolute;
    top: 15px;
    right: 20px;
    width: 40px;
    height: 40px;
    font-size: 20px;
    color: #3b3b3b;
    line-height: 20px;
}


