body {
    background-color: #f2f4f7;
    margin: 0;
    padding: 0;
    font-family: "SFProDisplay-Bold", Helvetica, Arial, sans-serif;
}
.container {
    max-width: 980px;
    margin: 0 auto;
}
.content {
    display: flex;
    justify-content: space-between;
    margin-top: 90px;
}
.container__greeting {
    padding-top: 112px;
}
.content__logo {
    max-width: 320.94px;
    max-height: 53.578px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.content__logo img {
    width: 100%;
    margin-left: -28px;
}
.content-text {
    font-size: 28px;
    line-height: 32px;
    max-width: 500px;
    margin-top: 16px;
}
.form {
    min-width: 396px;
}
.content__form {
}
.form__upper {
    background-color: white;
    padding: 16px 0px 24px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 396px;
}
.form__inner {
    position: relative;
    width: 364px;
}
.form__inner > *:first-child{
    margin-top: 0px;
}
.form__inner > * {
    margin-top: 12px;
}
.form__input{
    max-width: 100%;
}
.form__input input{
    width: 100%;
    border-radius: 6px;
    font-size: 17px;
    padding: 14px 16px;
}
.button {
    line-height: 48px;
    border-radius: 6px;
    font-size: 20px;
    font-weight: 700;
    border: 0px;
}
.form__button__login {
    background-color: #0866ff;
    color: white;
}
.form_forget {
}
.form__link {
}
.button_green {
}
.form__bottom {
}
.form_text {
}
.form__text {
}
.form__text__bold {
}
.footer {
}